@import "tomlynch-bs-custom";
@import "bootstrap/scss/bootstrap.scss";

.top-spacer { 
	margin-top: 100px; 
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
	padding-left: 0;
	padding-right: 0;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item + .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

/* Sidebar bookmarks */
#pinboard_linkroll {
	font-size: 70%;
	font-family: $font-family-serif; 
	margin-left: 15px; 
	margin-right: 15px; 
}

/* Cards */

.card {
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
}
.card > img {
	margin-bottom: .75rem;
}
.card-text {
	font-size: 85%;
}

/* Posts */

.blog-post img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
}

.blog-post p.caption {
	font-size: 100%; 
	font-style: italic; 
	text-align: center;
	margin-bottom: 20px; 
}

.blog-post p.video-wrapper {
	height: 335px;
	width: 560px;
	max-width: 100%;
	margin-bottom: 5px; 
}

.blog-post iframe.video {
	height: 315px;
	width: 560px;
	position: absolute;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}

/* Navbar */

nav {
	background-color: $brand-primary; 
	//margin-right: 20px;
	//vertical-align: baseline;
	font-family: $font-family-sans-serif;
}

nav.raked:after {
        $skew: 44.5deg;
	content: "";
	position: absolute;
	top:54px;  left: 0;
	background-color: inherit;
	padding-bottom: 80%;
	width: 57.7%;
	z-index: -1;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-$skew) skewX($skew);
	-ms-transform: rotate(-$skew) skewX($skew);
	transform: rotate(-$skew) skewX($skew);
}

body {
	font-family: $font-family-serif;
}

body code, body kbd, body pre, body samp, div.screenplay {
	font-family: $font-family-monospace;
	font-size: 100%;
}

.date {
	margin-left: 20px;
	font-family: $font-family-sans-serif;
	font-weight: normal;
}

h1, h2 {
	font-family: $font-family-sans-serif;
}

h3 {
	font-family: $font-family-serif;
}

pre {
	background-color: transparent;
	border-radius: 0px;
	border-left: none;
	border-right: none;
	border-top-color: #e7e7e7;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #e7e7e7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/*.left-bar, 
.blog-post .main,
.blog-post .body,
.blog-post .right-bar {
	padding-left: 0px;
	padding-right: 0px;
}

.blog-post .main {
	border-top-color: #e7e7e7;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}*/
